/* -- JFormslist CSS */
tr.bstablline0 td {
	padding: 2px;
	border-bottom: 1px solid #DDDDDD;
	background:#ECECEC;
}
tr.bstablline1 td {
	padding: 2px;
	border-bottom: 1px solid #DDDDDD;
}
tr.bstablline0:hover td,
tr.bstablline1:hover td {background: #FFFFCC;}
tr.bstablline0 td,
tr.bstablline1 td {padding: 4px 4px;}
div.display {float:right;}
#formlist {overflow-x: auto;width:100%;}
table.listtable { border:1px solid #DDDDDD;margin:2px 0;line-height:1.4em; }
table.listtable th{
//	line-height:1.1em;
//	padding: 4px 4px 6px;
	background: none repeat scroll 0 0 #444444;
	color: #FFFFFF;
}
div.print-icon {position:absolute;right:10px;}
div.listsum {float: left;padding:5px 10px 0px; text-align:right;margin-right:40px;line-height: 26px;}
.csvbtnblock {
	float: left;
	padding-top: 4px;
	padding-left: 4px;
	line-height: 26px;
}
