.invalid { border-color: #ff0000; }
input[type="text"],input[type="password"],input[type="email"] { border-color: #EEEEEE; }
select { border-color: #CCCCCC; }
input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover,select:hover,
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,select:focus
{ border:1px solid #4169E1; }
input[type="radio"]:hover,input[type="checkbox"]:hover,
input[type="radio"]:focus,input[type="checkbox"]:focus {border:0px solid;}
.pjbuttonheading a img {margin-top:-2px;}
input[type="file"]
{
        cursor:pointer;
        line-height:1.2em;
        font-family:arial;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.pagenavline li, #main .pagination li {
    line-height: 29px;
}
.pagenavline li a,.pagenavline li span,
#main .pagination li a,#main .pagination li span
{
	padding-bottom:9px;
}
