#all > h3 {font-size: 1.8em;}
.filter .btn-toolbar label {
	line-height: 32px;
}
table .list-footer ul {
	line-height: 24px;
}
#pop-print {
	text-align: center;
	vertical-align: middle;
	line-height: 28px;
	float: right;
}
