#bsmodpagebt {display:inline-block;margin-left:2px; padding:0 1px;}
#bsschehead select {width:71%;font-size:11px;margin-left:-2px;float:left;padding: 2px 0;}
#bsschetable #bsscheheadline0 {background-color:#616D7E;}
#bsschetable {font-size:10.5px;background-color:#eee;width:100%}
#bsschetable tr {height:15px;overflow:hidden:}
#bsschetable td.tmcell {width:4%;}
.bsschenamelabel {width:60px;overflow:hidden;}
#bsscheunamelabel {width:60px;overflow:hidden;}
#userlist {overflow-y:scroll;overflow-x:hidden;}
.bsscheweeklabel {background-color:#FFFFF0;color:#616B76;}
.bsschedaylabel {color:#FFFFFF;}
th#bsscheunamehd,th#bsscheumonthhd {width:60px;;overflow:hidden;text-align: center;}
th#bsscheumonthhd {color:#FFFFFF;}
th#bsscheunamehd {color:#616B76;}
td.bsschenamelabel a {display:block;width:60px;height:15px;hidden;white-space:nowrap;}
.bsloadingDiv {position:absolute;top:80px; left: 100px;}
#bstooltipblk {
	position:absolute;
	left:64px;
	width:65%;
	border:solid 1px #616D7E;
	border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
	overflow:visible!important;
	z-index:100;
	background-color:#E2E6EE;
	padding:3px;
	display:none;}
#bstooltip {
	display:block;
	background-color:#E2E6EE;
	overflow:hidden;
	font-size:11px;
	white-space:nowrap;
}
#bsschetable td {border: 1px solid #DDDDDD;}
#bsscheheadline0 th {text-align: center;}
#bsschetable th {text-align: center;}
#bsschetable td {border-width: 1px 1px 1px 0;border-spacing:0;}
#bsschetable th.bsscheweeklabel {border: 1px solid #DDDDDD;}
#bsmodpagebt input:hover,#bsmodpagebt input:focus {border:0;}
#bsmodpagebt input {margin-left:10px;}
#bsmodpagebt-l {background-image:url("../img/back_f2.png");}
#bsmodpagebt-r {background-image:url("../img/next_f2.png");}
#bsmodpagebt-l,#bsmodpagebt-r {
	background-repeat: no-repeat;
	background-position:2px 2px;
	display: inline-block;
	height:22px;
	width: 22px;
	padding:2px 0px;
}
#bsschehead .chzn-container {vertical-align: top;}
/* schedule cell color */
.bg_off{ /* no schedule */
	background-color: #ffffff;
}
.d_sun{ /* Sunday cell */
	background-color: #FBE4E3;
}
.d_sat{ /*  Saturday cell */
	background-color: #E8E8FC;
}
.d_hday{ /*  holiday cell */
	background-color: #FBE4E3;
}