<div layout:decorator="layout">
  <th:block layout:fragment="layout-content">

		<div class="gtco-section gtco-services">
			<div class="gtco-container main">
				<div class="row gtco-heading">
					<div class="col-xs-12 text-left">
						<h2>社員紹介</h2>
					</div>
				</div>
				<div class="row about">
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-12 col-sm-4 col-md-3">
                <img src="images/iijima.jpg" alt="" width="50%" height="50%" class="img-responsive">
								<h6>イイジマ</h6>
							</div>
              <div class="profile col-xs-12 col-sm-8 col-md-9">
                <p>profile
                </p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-12 col-sm-4 col-md-3">
								<img src="images/yoshida.jpg" alt="" width="50%" height="50%" class="img-responsive">
								<h6>ヨシダ</h6>
							</div>
              <div class="profile col-xs-12 col-sm-8 col-md-9">
                <p>profile
                </p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-12 col-sm-4 col-md-3">
								<h6>オガワ</h6>
							</div>
              <div class="profile col-xs-12 col-sm-8 col-md-9">
                <p>profile
                </p>
							</div>
						</div>
					</div>
          <div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-12 col-sm-4 col-md-3">
								<h6>ササキ</h6>
							</div>
              <div class="profile col-xs-12 col-sm-8 col-md-9">
                <p>profile
                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- main END  -->

  </th:block>
</div>
