body {
  padding-top: 150px;
}
.starter-template {
  padding: 140px 15px;
  text-align: center;
}
.container {
  margin-top: 70px;
  margin-bottom:70px;  
}
.c2inlineContent, .c2bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}