<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="params">
	  <fieldset name="advanced" label="COM_BSBOOKING_ADVANCED_FIELDSET_LABEL">
        <field name="prefixNameOnSummary" type="radio" class="btn-group" default="1" label="COM_BSBOOKING_PREFIX_NAME" description="COM_BSBOOKING_PREFIX_NAME_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>
        <field name="privacyMode" type="radio" class="btn-group" default="0" label="COM_BSBOOKING_PRIV_RESERVATION" description="COM_BSBOOKING_PRIV_RESERVATION_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>
        <field name="readOnlySummary" type="radio" class="btn-group" default="1" label="COM_BSBOOKING_READONLY_SCH" description="COM_BSBOOKING_READONLY_SCH_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>      
        <field name="readOnlyDetail" type="radio" class="btn-group" default="1" label="COM_BSBOOKING_READONLY_SCH_DETAIL" description="COM_BSBOOKING_READONLY_SCH_DETAIL_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>
        <field name="topNavigation" type="radio" class="btn-group" default="1" label="COM_BSBOOKING_TOPNAVI" description="COM_BSBOOKING_TOPNAVI_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>
        <field name="customTooltip" type="radio" class="btn-group" default="0" label="COM_BSBOOKING_CUSTOMTOOL" description="COM_BSBOOKING_CUSTOMTOOL_DESC">
            <option value="0">JNo</option>
        </field>
        <field name="spacer1" type="spacer" hr="true" />
        <field name="my_res_color" type="text" default="FFA500" label="COM_BSBOOKING_MY_COLOR" description="COM_BSBOOKING_MY_COLOR_DESC" />
        <field name="my_res_text" type="text" default="FFFFFF" label="COM_BSBOOKING_MY_COLOR_TEXT"/>
        
        <field name="my_past_res_color" type="text" default="A0A1A1" label="COM_BSBOOKING_MYPAST_COLOR" description="COM_BSBOOKING_MYPAST_COLOR_DESC" />
        <field name="my_past_res_text" type="text" default="FFFF" label="COM_BSBOOKING_MYPAST_COLOR_TEXT"/>
                
        <field name="other_res_color" type="text" default="708090" label="COM_BSBOOKING_OTHER_COLOR" description="COM_BSBOOKING_OTHER_COLOR_DESC" />
        <field name="other_res_text" type="text" default="FFFFFF" label="COM_BSBOOKING_OTHER_COLOR_TEXT"/>
        
        <field name="other_past_res_color" type="text" default="CFCFCF" label="COM_BSBOOKING_OTHERPAST_COLOR" description="COM_BSBOOKING_OTHERPAST_COLOR_DESC" />
        <field name="other_past_res_text" type="text" default="FFFFFF" label="COM_BSBOOKING_OTHERPAST_COLOR_TEXT"/>
	  </fieldset>
	</fields>
</config>
