/*
Error box settings
*/
.alert {
    color: #CC0000;
	background-color: #FFFFFF;
	border: solid #8B0000 2px;
	padding: 5px;
	margin-bottom: 5px;
}
/*
Form text box settings
*/
.textbox {
//    font-family: Verdana, Arial, Helvetica, sans-serif;
//    font-size: 11px;  
    color: #36648B;
    background-color: #FCFCFC;
}

/*
Form button settings
*/

/* .button conflict with toolbar button (from Joomla) */
.jm-button {
//    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
	border: solid 1px #7C7A7A;
	color: #36648B;
	background-color: #E7E7E7;
}

div#jm-filter {
    padding-left: 30px;
}

#jm_search {
    margin-bottom: 5px;
}
/** Table styles **/
.userblock {margin:20px;}
//.userblock select{font-size:12px}
.userblock table.mainselector {margin:0;}
table.userlist { border:1px solid #DDDDDD;margin:2px 0;}
table.userlist th{
	font-size: 11px;
	padding: 1px 5px;
	background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    height: 24px;
}
table.userlist td{border-bottom:1px solid #DDDDDD;padding:2px;}
table.userlist {width:100%;border-spacing: 1px;}
/*
Data table head row settings
*/
.tableTitle {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px; padding-top: 1px; padding-bottom: 1px; padding-right: 5px;
	background-color: #36648B;
	height: 20px;
	vertical-align: middle;
}

.tableTitle a, .tableTitle a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/*
Table border color
*/
table.color-key {
    border-spacing: 2px 3px;
    border-collapse: separate;
	color: #000066;
}
td table {
    /** Inner table
    * IE8+
    *-------------------------------------*/
    border-spacing: 1px;
    /* Start fixing: no boder shown (2 tables used), if parent element uses border-collapse: collapse, force separated border 
       as spacing will display background color. This makes it look like a table border
    */
    border-collapse: separate; 
    /* End fixing: by Prasit Gebsaap */        
}
.tableBorder {/* background-color: #36648B; */ background-color: #BBBBBB; }
.tableBorder table{
/*    border:1px solid #5E7FB1; */
    border:1px solid #DDDDDD; 
}
.tableBorder td { margin:0;padding:0; }
.cpanelCell td {
    padding: 2px;
    font-size: 11px;
}

#resform .tableBorder2 table{
    border:1px solid #808080;
}
.tableBorder2 td { margin:0;padding:0;border-bottom:1px solid #ddd; }
.cpanelCell td {
    padding: 2px;
    font-size: 11px;
}
/*
Common data cell settings
*/
td.cellColor, .cellColor td, .cellColor {
    padding: 2px;
    background-color: #FFFFFF;
//    font-size: 12px;
}
/*
Alternating row colors
*/
td.cellColor0, .cellColor0 td, .cellColor0, .warningCell0 
{
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}
td.cellColor1, .cellColor1 td, .cellColor1 
{
    padding: 2px;
	background-color: #F8FAEA;
    font-size: 11px;
}

/*****************************************/

.r0 td, .ro0 td
{
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}

.r1 td, .ro1 td
{
    padding: 2px;
    background-color: #F8FAEA;
    font-size: 11px;
}

.r0 td:hover, .r1 td:hover
{
    cursor:pointer;
/*    background-color: green; */
    background-color: #5E7FB1; 
}
.r0 td.o:hover
{
	cursor: default;
	background-color: #FFFFFF;
}

.r1 td.o:hover
{
	cursor: default;
	background-color: #F8FAEA;
}

.r0:hover td.resourceName, .r1:hover td.resourceName
{
    background-color: #f7f18b;
}

.r0 td.resourceName:hover, .r1 td.resourceName:hover
{
	cursor: default;
	background-color: #EDEDED;
}

/*****************************************/

.warningCell1 {
    padding: 2px;
    background-color: #D56060;
    font-size: 11px;
}
/*
Table data row heading settings
*/
td.rowHeaders, .rowHeaders td {
    color: #333333;
    background-color: #EDEDED;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}
/*
Individal time cells for the scheduler
*/
td.scheduleTimes, .scheduleTimes td {
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: #DAE2F0;
    padding-left: 2px;
}
/*
Date cell for the scheduler
*/
td.scheduleDate, .scheduleDate td, .scheduleDateHeader, td.scheduleDateCurrent {
    font-size: 11px;
    color: #FFFFFF;
    background-color: #A2B5CD;
    text-align: center;
    padding: 2px;
}

td.scheduleDateCurrent {
	font-weight: bold;
	background-color: #5E7FB1;
}

.scheduleDateHeader {
	border-bottom: 1px #36648B solid;
}

td.scheduleDate, td.scheduleDateHeader a {
	color: #FFFFFF;
}
/*
Resource name cell for the scheduler
*/
td.resourceName, td.resourceNameOver {
    color: #333333;
    font-size: 11px;
    background-color: #EDEDED;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}

td.resourceNameOver {
    background-color: #FAFAFA;
}
/*
Edit form cell settings
*/
td.formNames {
//    font-size: 12px;
    padding: 3px 5px;
	background-color:#EBEBEB;
}
/*
Reserved cell settings for the scheduler
*/
td.reservedCell {
    font-size: 10px;
    background-color: #B0C4DE;
}
td.reservationOver {
	background-color: #3EBD30;
}
/*
Inactive resource text color
*/
.inact {
    color: #BDBDBD;
}
/*
Color of the outermost border on every page
*/
.mainBorder {
}
/*
Background color of main section on every page
*/
.mainBkgrdClr {
    background-color: #FAFAFA;
}
/*
Alert message settings (.message conflict with joomla 's CSS)
*/
.jm-message {
	background-color: #FEFEFE;
	text-align: center;
	width: 60%;
	border: solid #E0E0E0 1px;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 11px;
}

/*
Summary popup box
*/
.summary_div {
	position: absolute;
	visibility: hidden;
	border: solid #686767 1px;
	padding: 5px;
	background-color: #fefefe;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

/*
Recurring reservation box
*/
.recur_box {
	background-color: #EEEEEE;
	border: 1px solid #808080;
	font-size: 11px;
}
#sch_checkbox table.recur_box,
.tableBorder2  table {
	border-collapse: initial;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/*
Calendar settings
*/
.monthNameStyle {
	font-size: 11px;
	text-align: center;
}
.dayBoxStyle {
	font-size: 10px;
	background-color: #F0F0F0;
	text-align: center;
	width: 25px;
	height: 25px;
}
.currentDayBoxStyle {
	width: 25px;
	height: 25px;
	font-size: 10px;
	background-color: #FFFFFF;
	text-align: center;
}
.emptyDayStyle {
	background-color: #D5D8D3;
}
.dayNamesStyle {
	font-size: 11px;
	text-align: center;
	height: 25px;
	background-color: #DDCAF6;
}
.navMonthStyle {
	font-size: 11px;
	color: #000000;
}
.selectBoxStyle {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Reservation tab select */
.tab-row td {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}
.tab-row a {
	text-decoration:none;
}
/* ------------- START TABS -----------------*/
dl.tabs {
 float: left;
 margin: 5px 0 -1px 0;
 z-index: 50;
 width:auto;
}

dl.tabs dt {
 float: left;
 padding: 4px 10px;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 border-top: 1px solid #ccc;
 margin-left: 1px;
 background: #f0f0f0;
 color: #666;
}

dl.tabs dt.open {
 background: #F9F9F9;
 border-bottom: 1px solid #F9F9F9;
 z-index: 100;
 color: #000;
}
/* End tab */
.tab-selected {
	border-right:solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	width:100px;
	color: #0000ff;
	height:20px;
}
.tab-selected a {
	color: #000000;
}
.tab-not-selected {
	border:solid 1px #D1D1D1;
	width:100px;
	background-color: #EDEDED;
	border-bottom: solid 1px #CCCCCC;
}
.tab-not-selected a {
	color: #666666;
}
.tab-filler {
	border-bottom:solid 1px #CCCCCC;
}
.tab-main {
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
}
/*************************************
/* Tooltips */
.jm-tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 250px;
	z-index: 50;
}

.jm-tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold; 
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/selector-arrow.png) no-repeat;
}

.jm-tool-text {
	font-size: 100%;
	margin: 0;
}

/** MyCalendar **/
.MyCalCellColor {
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}

.MyCalCellColorEmpty {
	background-color: #F0F0F0;
}

.MyCalDayBox {
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 11px;
	width: 140px;
	height: 120px;
	vertical-align: top;
}

.MyCalEmptyDayBox {
	padding: 2px;
	background-color: #EEEEEE;
	font-size: 11px;
	vertical-align: top;
}

.MyCalCurrentDayBox {
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 11px;
	vertical-align: top;
	border: solid 1px #36648B;
}

.MyCalDateNumber, a.MyCalDateNumber {
	font-size: 12px;
}

.MyCalCellColor p, .MyCalDayBox p, .MyCalEmptyDayBox p, .MyCalCurrentDayBox p {
	margin-bottom: 7px;
}

div.mycal_div {
	position: absolute;
	visibility: hidden;
	border-top: solid #7C7C7C 1px;
	border-left: solid #7C7C7C 1px;
	border-right: solid #6F6F6F 2px;
	border-bottom: solid #6F6F6F 2px;
	background-color: #FEFFFE;
	padding: 3px;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #616161;
}

/* SelectUser colors */
.SelectUserRowOver, .SelectUserRowOver td, td.SelectUserRowOver {
	background-color: #D9EAF5;
	padding: 2px;
    font-size: 11px;
	cursor: pointer;
}

/* Admin row-selected color */
.adminRowSelected, .adminRowSelected td {
    padding: 2px;
    background-color: #D3DBF7;
    font-size: 11px;
}

/* Font style for errors and warnings */
.warningText {
	color: #FF0000;
	text-align: center;
}

/* Admin table to list additional tools for this section */
.additionalTools, .additionalTools tr {
	margin-bottom:15px;
	border: solid 1px #CCCCCC;
	width: 170px;
	background-color: #ECECEC;
}

.additionalToolsHead {
	border-bottom: solid 1px #CCCCCC;
	background-color: #E0E0E0;
}

.messagePositive {
	color: #FFFFFF;
	background-color: #329D11;
	font-size: 13px;
	font-weight: bold;
	text-align:center;

}

.messageNegative {
	color: #FFFFFF;
	background-color: #751814;
	font-size: 13px;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
}

.messageNegativeBG {
	background-color: #751814;
}

.export_menu {
	display:none;
	position:absolute;
	width:100px;
	height:45px;
}

.export_menu table {
	background-color:#999999;
}

.export_menu td.export_menu_out, td.export_menu_over {
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.export_menu td.export_menu_out {
	background-color: #EDEDED;
	cursor: default;
} 

.export_menu, td.export_menu_over {
	background-color: #FFFFFF;
	cursor:pointer;
}

div.textbox, div.blur_textbox {
	border: solid 1px #666666;
	padding: 2px;
}

div.blur_textbox {
	background-color: #EEEEEE;
}

div.inlineSummary{
	overflow:hidden;
	height:18px;
	width:100%!important;
}
div.jm_title {
	height:1.5em;
    text-align:  center;
    padding-bottom: 15px;
}
div.sch_title {
    overflow:hidden;
    text-align:  center;
}
#resform {width:100%;}

#resform textarea, #resform select{font-size:12px;}
#resform table,#resform th,#resform td {vertical-align:top;}
/*--- START OF ajax-loading -------*/
.ajax-loading {
	background: url(../images/ajax-loading.gif) no-repeat center;
	padding: 17px 0pt 0pt;
}
/*-----END OF ajax-loading --------*/
#srchdatebtn {display:inline-block;}
#dashbdheader .pagetitle {width:auto;}
#dashbdheader .btn-group {display:inline-block;}
.btn-toolbar span {display:none!important;}
.btn-toolbar i {display:none!important;}
#div_start_date, #div_end_date {margin-top: 6px;}
.userblock table.mainselector .display {margin:0 0 2px;}
.userblock #jm_search {padding-right: 10px;}
.mainfilter #divcode,
.userblock #divcode {min-width:100px;}
#bkptblock select.selectrepeat {min-width:50px;}
#bkptblock select.selectinterval {min-width:120px;}
.mainfilter .hdselectlist label {display: inline;}
.mainfilter #jumpdate .input-append input {width: 80px;}

.d_bsbook_sun td{ /* Sunday cell */
	background-color: #FBE4E3;
	color:#333;
}
.d_bsbook_sat td{ /*  Saturday cell */
	background-color: #E8E8FC;
	color:#333;
}
.d_bsbook_hday td{ /*  holiday cell */
	background-color: #FBE4E3;
	color:#333;
}
#uselectlist div.dismode {background: #ccc;}
