/* FormCheck tipbox */

/* tipbox :
	table : 
		tl		: top left
		t		: top
		tr		: top right
		l 		: left
		r		: right
		bl		: bottom left
		b		: bottom (with mark)
		br		: bottom right
		c		: center
	components : 
		a.close	: close button
		err		: errors div
		p		: error line
*/

.fc-tbx .tl{
	background: url('../images/design/tl.png') no-repeat;
}
.fc-tbx .t{
	background: url('../images/design/t.png') repeat-x;
	height: 16px;
}
.fc-tbx .tr{
	background: url('../images/design/tr.png') no-repeat;
}
.fc-tbx .l{
	background: url('../images/design/l.png') repeat-y;
	width : 16px;
}
.fc-tbx .r{
	background: url('../images/design/r.png') repeat-y;
	width: 16px;
}
.fc-tbx .bl{
	background: url('../images/design/bl.png') no-repeat;
}
.fc-tbx .b{
	background: url('../images/design/b.png') no-repeat;
	height: 25px;
}
.fc-tbx .br{
	background: url('../images/design/br.png') no-repeat;
}
.fc-tbx .c{
	background: url('../images/design/c.png') repeat;
}
.fc-tbx a.close {
	float: right;
	background: url('../images/design/close.png') no-repeat;
	position: relative;
	margin-left: 5px;
	display: block;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
.fc-tbx .err {
	float: left;
}
.fc-tbx p {
	width : auto;
	display: block;
	font-size: 10px;
	font-family: tahoma, verdana, "sans-serif";
	margin : 0;
	padding : 0;
	border : 0;
	color : #FFF;
}

.ajax_loader {
	background : url('../images/design/ajax-loader.gif') no-repeat center;
	width : 200px;
	height : 150px;
}


/* FormCheck validation div */

.fc-error {
	border : 1px solid #888;
	margin-top : 5px;
	background-color : #EAEAEA;
}
.fc-error p {
	margin : 5px;
	color : #A00;
}
#tab-toolbar-container .pane-sliders {
	margin: 0;
	position: static;
}
#tab-form-container .pane-sliders {
	margin: 0;
}
td.paramlist_key {
	font-weight: bold;
	text-align: right;
	width: 150px;
	padding: 3px;
}
td.paramlist_key label {
	font-size: 0.9em;
}
td.paramlist_value label,td.paramlist_value textarea {
	font-size: 0.9em;
}

#workarea fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}
#workarea fieldset legend {width:auto;}
#workarea fieldset br {height:2px;line-height:2px;}
#workarea .radio-container label.radio {margin-top:0px;}
#workarea .radio-container input.radio {margin-top:2px;margin-right:5px;}
#workarea legend {margin-bottom: 0;border-bottom:0;line-height:22px;}
#workarea label,
#workarea input
{
	font-size:12px;
	line-height:22px;
	height:22px;
}
#workarea select
{
	font-size:12px;
	height:22px;
}
#workarea input[type="file"]
{
	font-size:12px;
	height:25px;
}
