.icon-48-jforms-logo{
	background-image: url('../images/icon-48-logo.png'); 	
}
table.adminlist {
    background-color: #F3F3F3;
    border-spacing: 1px;
    color: #666666;
    width: 100%;
}
table.adminlist thead th {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #FFFFFF;
    color: #666666;
    text-align: center;
}
table.adminlist td, table.adminlist th {
    padding: 4px;
}
table.adminlist td {padding-left: 8px;}
input[type="radio"], input[type="checkbox"] {
    margin: 0!important;
}


