<!DOCTYPE html>
<html
xmlns         = "http://www.w3.org/1999/xhtml"
xmlns:th      = "http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

  <header id="global-header" layout:fragment="header">
  <div class="container">
    <div id="row">
      <div class="col-sm-9 col-md-9">
        <a href="/">ロゴ</a>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/contact/" title="Contact us">お問い合わせ</a>
      </div>
    </div>
  </div>
  </header>

<th:block layout:fragment="layout-content">
    <p>Default layout content</p>
</th:block>

</body>
</html>
